@use 'sass:map';

@include b(post) {
  border: 1px solid map.get($appColor, 'gray-4');
  padding: 16px;
  border-radius: 12px;

  @include e(title) {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 14px;
    padding-top: 10px;
    margin-bottom: 14px;

    border-bottom: 1px solid map.get($appColor, 'gray-4');
  }

  @include e(description) {
    opacity: 0.7;
    font-size: 14px;
  }

  @include e(download-button) {
    padding: 10px 14px;
    border: 1px solid map.get($appColor, primary-light);
    border-radius: 16px;
    margin-top: 12px;
    transition: all 0.25s ease;
    margin-left: auto;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: map.get($appColor, primary-lighter);
      color: $color-white;
    }
  }
}
