@include b(accordion) {
  @include when(open) {
    @include e(wrapper) {
      opacity: 1;
      visibility: visible;
    }
  }

  @include e(wrapper) {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px 4px 14px 14px;
    transition: all 0.25s ease;

    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  @include e(content) {
    width: 100%;
  }
}
