@use './col.scss';
@use './css-vars.scss';

body {
  font-size: 12px;
}

@include res(sm) {
  body {
    font-size: 13px;
  }
}

@include res(md) {
  body {
    font-size: 14px;
  }
}

.uneti-divider {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: getColor(gray-2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 37px;
  width: 37px;
  border: 2px solid getColor(text, 0.1);
}

.base-button {
  border-radius: 6px;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
}

.base-input {
  @apply focus:ring-2 border border-gray-300 p-2 rounded-lg outline-none;
}
